* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('bg2.jpg');
    background-size: cover;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 350px;
    padding-top: 40px;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-container label {
    position: absolute;
    top: -17px;
    left: -1px;
    padding: 0 5px;
    font-size: 12px;
    display: none;
}

input {
    background-color: rgba(255, 255, 255, 0.3);
}

.input-container .error-message {
    display: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    display: block;
    color: rgb(114, 215, 182);
}

.input-container input:valid + label {
    color: rgb(0, 4, 2);
}

.input-container input:invalid + label {
    color: red;
    border-color: 4px solid red;
}

input:valid {
    border-color: aquamarine;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

input:invalid {
    display: block;

}

.input-container span {
    display: none; /* Hide error messages by default */
}

.input-container input:focus:invalid,
.input-container input:not(:placeholder-shown):invalid {
    border-color: red; /* Change border color when invalid */
}

.input-container input:not(:placeholder-shown):invalid + label + span {
    display: block; /* Show error messages when the input is focused and invalid or when it has a value and is invalid */
    color: red;
}

.input-container input:valid {
    border-color: blue; /* Optional: Change border color when valid */
}

.existing-account {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #ccc;
}

.existing-account a {
    color: blue;
    text-decoration: underline;
}

