*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.library-body {
    width: 100vw;
    background-color: #f8fafc;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.library-title {
    color: #475569;
    font-size: 70px;
    font-weight: 700;
    margin-top: 50px;
}

main .search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.search-container input {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    margin-right: 20px;
    padding-left: 10px;
}

.search-container button {
    width: 85px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #45a049;
}

.card-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}


.card img {
    height: 700px;
    width: 100%;
}

@media (max-width: 768px) {
    .card img {
        max-height: 400px; /* Adjust for smaller screens */
    }
}

.card-details p, .card-details small {
    margin-top: 10px;
}

.card-details p {
    font-style: italic;
    color: #555;
    margin-bottom: 4px;
}

.card-details small {
    font-size: 14px;
    color: #777;
    margin-bottom: 0;
}

.read-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.read-text {
    margin: 0;
}

.remove-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.remove-button:hover {
    background-color: #e74c3c; /* Example button hover background color */
}

#newBookModal {
    padding: 15px;
    border-color:  #0dbd79;
}

#newBookModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure modal appears on top of other elements */
}

/* Optional overlay for modal backdrop */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}


#newBookForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"] {
    width: 100%; 
    padding: 8px;
    border: 1px solid #0dbd79;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; /* Adjust font size as needed */
}

.button-container {
    margin-top: 20px;
    text-align: right;

}

.button-container button {
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
